
header {
    height: 15vh;
    background-color: #009688;
}
.bold {
    font-weight: bold;
}
main {
    background-color: #DBDBD3;
    height: 85vh;  
}
.container {
    height: 100%;
    position: relative;
    top: -10%;
}
#profile-row {
    background-color: #EAEAEA;
    height: 10%;
}

.contact {
    border-bottom: 1px solid lightgray;
}
.profile-pic {
    width: 2rem;
    border-radius: 50%;
  margin-right: 5%;
}

#current-contact-row {
    height: 10%;
    background-color: #EAEAEA;
    border-left:  1px solid lightgray;
}
#contacts-row {
    flex-direction: column;
    height: 70%;
}

#notifications-row,
#searchbar-row {
    height: 10%;
}

#contacts-row,
#chat-window {
    overflow: auto;
    flex-wrap: nowrap;
}

.date,.icons {
    margin-left: auto;
}

#chat-window {
    background-image: url(img/mine.jpg);
    flex-direction: column;
    padding: 3rem;
    
    height: 80%;
   
}

#message-box-row {
    height: 10%;
    background-color: #F3EEEA;
    align-items: center;
}

.sent {
    align-self: flex-end;
    background-color: #009688;
}

.received {
    background-color: gray;
}
